In [2]:
import pandas as pd 
import numpy as np
import datetime

In [10]:
now = datetime.datetime.now()

In [11]:
# 파이썬은 month가 1부터 시작하는데 다른 프로그래밍 언어는 0부터 시작한다.
print(now.year)
print(now.month)
print(now.day)
print(now.hour)
print(now.minute)
print(now.second)

2021
5
7
16
37
9

In [3]:
# 날짜를 지정한다.
date = datetime.date(2018, 9, 29)
print(date)

2018-09-29

In [7]:
print(date.year)
print(date.month)
print(date.day)

2018
9
29

In [13]:
# 시간을 지정한다.
# 시, 분, 초, ms
time = datetime.time(12, 30, 19, 463198)
print(time)

12:30:19.463198

In [14]:
print(time.hour)
print(time.minute)
print(time.second)
print(time.microsecond)

12
30
19
463198

In [15]:
# 날짜와 시간을 지정한다.
dt = datetime.datetime(2018, 9, 29, 12, 30, 19, 463198)
print(dt)

2018-09-29 12:30:19.463198

In [17]:
import time

# 기준시 값을 출력해본다.
time.gmtime(0)
time.time()

1620374417.232009

### 데이터 프레임의 시간 관련 기능
- 기준시 : 1970-01-01 0:0:0.0 를 0으로 정한 값을 관리한다.
- 유닉스 탄생 시간

In [18]:
pd.Timestamp(0)

Timestamp('1970-01-01 00:00:00')

In [19]:
# 날짜가 담겨있는 Series를 생성한다.
a1 = pd.Timestamp(0)
s1 = pd.Series(a1)
s1

0   1970-01-01
dtype: datetime64[ns]

In [20]:
# 나노 세컨드 단위 셋팅
# 초 > 밀리 > 마이크로 > 나노
pd.Timestamp(17800)

Timestamp('1970-01-01 00:00:00.000017800')

In [21]:
# 마이크로sec
pd.Timestamp(17800, unit="us")  # 마이크로 기호를 따라서 us로 쓴다.

Timestamp('1970-01-01 00:00:00.017800')

In [22]:
# 밀리 sec
pd.Timestamp(17800, unit="ms")

Timestamp('1970-01-01 00:00:17.800000')

In [25]:
# 초 : s, 분 : m, 시 : h, 날짜  : D,  월 :  M, 년 : Y
pd.Timestamp(17800, unit="D")

Timestamp('2018-09-26 00:00:00')

In [27]:
# 날짜를 직접 지정한다.
pd.Timestamp(year=2021, month=5, day=7, hour=17, minute=7, second=30, microsecond=100)

Timestamp('2021-05-07 17:07:30.000100')

In [28]:
# Series에 저장되어 있는 정수값들을 날짜로 변환한다.
s1 = pd.Series([10, 100, 1000, 10000])
s1

0       10
1      100
2     1000
3    10000
dtype: int64

In [29]:
pd.to_datetime(s1, unit="D")

0   1970-01-11
1   1970-04-11
2   1972-09-27
3   1997-05-19
dtype: datetime64[ns]

In [33]:
# 데이터 프레임을 날짜로 변환한다.
# 컬럼 이름이 중요하다.
df = pd.DataFrame({
    "year":[2015, 2016],
    "month":[2, 3], 
    "day":[4,5], 
})

pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [37]:
# 문자열로 되어 있는 값을 날짜로 변환한다.
# 년-월-일 로 인식한다.
# s1 = pd.Series(["2018-01-01", "2019-01-01"])
# 월-일-년로 인식한다.
# s1 = pd.Series(["01-01-2018", "01-01-2019"])
# # 오류
# 년도가 제일 앞에 있거나 제일 뒤에 있어야 한다.
# s1 = pd.Series(["01-2018-01", "01-2019-01"])

s1 = pd.Series(["2018-01-01", "01-01-2019"]) 

display(s1)

display(pd.to_datetime(s1))

0    2018-01-01
1    01-01-2019
dtype: object

0   2018-01-01
1   2019-01-01
dtype: datetime64[ns]

In [39]:
# 양식을 이용해 지정할 수 있다.
# https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior
s1 = pd.Series(["02-2018-01", "02-2018-01", "02-2019-03"])
display(s1)

pd.to_datetime(s1, format="%m-%Y-%d")

0    02-2018-01
1    02-2018-01
2    02-2019-03
dtype: object

0   2018-02-01
1   2018-02-01
2   2019-02-03
dtype: datetime64[ns]